.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}
  
.project-container {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 2rem;
}
  
.project-card {
    background-color: #1a1919;
    padding: 1.2rem 1rem;
}
  
.project-card img {
    width: 100%;
}
  
.project-title {
    padding: 1rem 0;
    color: #f2f2f2;
    font-size: 1.5rem;
}
  
.project-details p {
    color: #f2f2f2;
    line-height: 1.5;
    padding-bottom: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2rem;
}
  
.project-btn {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.image {
    width: 200px;
    height: 300px;
  }
  
.project-btn .btn {
    background-color: #f2f2f2;
    color: #1a1919;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
}
  
.project-btn .btn:hover {
    background-color: #eaeaea;
}  
  
@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .image {
        width: 200px;
        height: 250px;
    }

    .project-title {
        font-size: 1.2rem;
    }

    .project-details p {
        font-size: 1rem;
    }

    .project-btn .btn {
        font-size: 13px;
    }
      
}

